[submodule "pyorbbecsdk"]
	path = camera/orbbec/pyorbbecsdk
	url = https://github.com/orbbec/pyorbbecsdk.git

[submodule "IGEV"]
	path = camera/zed_ros/IGEV
	url = https://github.com/gangweiX/IGEV.git

[submodule "taxpose"]
	path = models/taxpose
	url = https://github.com/r-pad/taxpose.git